<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.webproject.main.mapper.MainSQLMapper"><!--class경로 -->

	<!-- 메인에서 불러올 data(finddogboardList) -->
	<select id="getMainFinddogBoard" resultType="com.ja.webproject.vo.HE_FinddogBoardVo">
		select * 
		from HE_FinddogBoard
		order by finddogboard_no DESC
	
	</select>

	<!-- HE_Member_seq -->
	<select id = "createMemberPK" resultType="int">
		select HE_Member_seq.nextval from Dual
	</select>
	
	<insert id="addInitGroup">
		insert into HE_NoteBox_GroupList values(
		HE_NoteBox_GroupList_seq.nextval,
		#{member_no},
		#{group_name}
	)
	</insert>

	
	<select id="getMemberByIdAndPw" resultType="com.ja.webproject.vo.HE_MemberVo">
		select HE_Member.* from HE_Member, HE_MailAuth
		where HE_MailAuth.member_no = HE_Member.member_no
		and HE_Member.id = #{id} 
		and HE_Member.pw = #{pw}
		and HE_MailAuth.mail_complete = 'Y'
	</select>
	
	
	<!-- HE_Member table -->
	<insert id="joinMember">
		insert into HE_Member values(
		#{member_no},
		#{id},
		#{pw},
		#{nick},
		#{name},
		#{birth},
		#{gender},
		#{phone},
		#{email},
		#{postCode},
		#{address},
		#{petName},
		#{coin},
		SYSDATE
		)
	</insert>
	
	<!-- HE_MailAuth table -->
	<insert id="createMailAuthInfo">
		insert into HE_MailAuth values(
			HE_MailAuth_seq.nextval,
			#{member_no},
			#{mail_key},
			'N',
			Null
		)
	</insert>

	<update id="certifyMail">
		update HE_MailAuth
		set mail_complete = 'Y', writeDate = SYSDATE
		where mail_key = #{mail_key}
	</update>
	
	
		<!-- ********************* -->
	<!-- finddogBoard에서 불러옴 -->
		<!-- FP랑 같음. 근데 이거 게시판마다 이래야하나... 이걸 가져다 쓰기가 약간 변수가..애매 -->
	<select id="getMemberByNo" resultType="com.ja.webproject.vo.HE_MemberVo">
		SELECT * FROM HE_Member WHERE member_no = #{member_no } <!-- 한가의 파라미터 데이터 값일 경우 변수로 받음 -->

	</select>

	
</mapper>
